<html><head><title>温度センサ設定変更</title></head><body>
  <form action="/setting_interval" method="post">
    取得間隔：
    <select name="interval">
    {{range $i := .IntervalList}}
    <option value="{{$i}}">{{$i}}秒</option>
    {{end}}
    </select>
    <br><input type="submit" value="設定変更"><hr>
    [現在の設定]<br>
    取得間隔：{{.SelectedInterval}}<hr>
  </form>
</body></html>
