<html><head>
  <title>データストア</title>
</head><body>
  <form action="/" method="post">
    key name: <input type="text" name="key_name">
    name: <input type="text" name="name">
    count: <input type="text" name="count"><br>
    <input type="radio" name="op" value="put" checked>追加・更新
    <input type="radio" name="op" value="get">検索
    <input type="radio" name="op" value="delete">削除
    <input type="submit" value="送信">
  </form>
  {{if $.Op}}
    [結果]<br>
    {{$.Op}}
    key name: {{$.KeyName}}
    name: {{$.Name}}
    count: {{$.Count}}
  {{end}}
</body></html>
